.hero {
  width: 100%;
}

.hero-title {
  font-family: var(--headings-font);
  font-weight: 600;
  line-height: 1.5;
  font-size: 4.7rem;
  color: var(--font-color1);
  margin-top: 100px;
  padding-left: 40px;
  max-width: 90%;
}

.hero-subtitle {
  color: var(--font-color1);
  margin-top: 10px;
  padding-left: 40px;
  font-size: 1.2rem;
}

@media screen and (max-width: 650px) {
  .hero-title {
    font-size: 3.2rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
}
