.prof-title {
  margin: 5rem 0;
  color: grey;
  font-family: var(--heading-font1);
  font-size: 2rem;
  padding: 0 4rem;
}
.prof {
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  width: 95%;
  gap: 30px;
  margin: 50px auto;
  padding: 0 20px; */

  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  /* padding: 2rem; */
  padding: 0 4rem;
}

/* @media screen and (min-width: 400px) {
  .prof {
    grid-template-columns: repeat(1, 1fr);
  }
  .prof img {
    width: 440px;
    height: 290px;
    object-fit: cover;
  }
}
@media screen and (min-width: 700px) {
  .prof {
    grid-template-columns: repeat(2, 1fr);
  }
  .prof img {
    width: 440px;
    height: 290px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1000px) {
  .prof {
    grid-template-columns: repeat(3, 1fr);
  }
  .prof img {
    width: 440px;
    height: 290px;
    object-fit: cover;
  }
} */

.sub-prof-container {
  position: relative;
  width: 380px;
  height: 250px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.prof img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  margin: 30% auto 0;
  font-family: var(--body-font);
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in;
}

.sub-prof-overlay {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
  color: rgb(212, 119, 27);
}

.sub-prof-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: linen;
}

.sub-prof-container:hover {
  transform: scale(1.05);
}
